*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style-type: none;
    text-decoration: none;
}
body{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navegation{
    max-width: 71.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.manue li{
    display: inline-block;
    padding: 0 1rem;
}
.navegation input[type="checkbox"]{
    display: none;
}
@media (max-width:600px){
    .navegation{
        background: #303030;
        color: #fff;
    }
    samp{
        position: absolute;
        float: right;
        top: 0;
        right: 1rem;
        width: 2rem;
        height: 0.5rem;
        overflow: hidden;
    }
    .navegation input[type="checkbox"]{
        display: block;
        width: 2rem;
        height: 2rem;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
    }
    .navegation input[type="checkbox"]:checked ~ .manue{
        opacity: 1;
    }
    .navegation input[type="checkbox"]:checked ~ .one{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        top: 0.25rem;
    }
    .navegation input[type="checkbox"]:checked ~ .three{    
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        top: 1rem;
    }
    .navegation input[type="checkbox"]:checked ~ .two{
        display: none;
    }
    .navegation span{
        right: 0;
        display: block;
        margin-top: 0.3rem;
        margin-right: 2rem;
        position: absolute;
        width: 2rem;
        top: 0;
        height: 0.2rem;
        background: #ffffff;
        pointer-events: none;
        transition: transform 0.5s ease-in;
        -webkit-transition: transform 0.5s ease-in;
        -moz-transition: transform 0.5s ease-in;
        -ms-transition: transform 0.5s ease-in;
        -o-transition: transform 0.5s ease-in;
    }
    .navegation .one{
        margin-top: 1rem;
    }
    .navegation .two{
        margin-top: 1.8rem;
    }
    .manue {
        margin-top: 3rem;
        opacity: 0;
        text-align: center;
        width: 100%;
        position: absolute;
        left: 0;
        background: #e9e9e9;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
    .manue li{
        display: block;
        padding: 1rem 1rem;
    }
    li a:hover{
        background: #3a55ad;
        color: #fff;
        padding: 0.4rem 1.3rem;
    }

}
